

button {
    background-color: none;
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}


.navbar-header {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    padding-left: 20px;
}

.li{
    display:inline-block;
 }

 .container {
     
 }







 